 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
  </head>
    
    <footer class="footer-39201">
      <div class="container">
        <div class="row">
          <div class="col-md mb-4 mb-md-0">
            <h3>Contact Us</h3>
            <ul class="list-unstyled nav-links">
              <li><i class = "fa fa-map-marker"></i><a href="#">  99 Fifth Settlement, Cairo, Egypt</a></li>
              <li><i class = "fa fa-phone"></i><a href="#">  +2 247 (288) 236</a></li>
              <li><i class = "fa fa-envelope-o"></i><a href="#">  E-HUB@FCIS.com</a></li>
            </ul>
            <div class="col-md-6 text-md-right">
                <ul class="social list-unstyled">
                  <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                  <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                  <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                  <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                </ul>
              </div>
          </div>
          <div class="col-md mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled nav-links">
              <li><a href="#">Privacy</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Conditions</a></li>
              <li><a href="#">Policy</a></li>
            </ul>
          </div>
          <div class="col-md mb-4 mb-md-0">
            <h3>Useful Link</h3>
            <ul class="list-unstyled nav-links">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">UI/UX Design</a></li>
              <li><a href="#">WP Development</a></li>
              <li><a href="#">App</a></li>
              <li><a href="#">Whitepaper</a></li>
              <li><a href="#">Web Development</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <h3>News Letter</h3>
            <p class="mb-4">To get the latest news and latest updates from us.</p>
            <form action="#" class="subscribe">
                <input type="text" class="form-control" placeholder="Enter your e-mail">
                <input type="submit" class="btn btn-submit" value="Subscribe">
              </form>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-12">
            <div class="border-top my-5"></div>
          </div>
          
          <div class = "img-container">
            <img src = "./../../assets/Home Page/Website Brand.png">
            <a>E-HUB</a>
            <p style="color:white"> <i class = "fa fa-copyright"></i> <b>E-HUB</b> Designed by <b>4MAS GROUP</b> | All rights reserved</p>
          </div>

        </div>
      </div>
    </footer>