<div class="login-area">
    <div class="left-area">
        <img src="../../assets/Login/login-bg.jpg">

    </div>

    <div class="right-area">
        <div class="login-form">
            <div class="img-container">
                <img src="./../../assets/Home Page/Website Brand.png">
                <a>E-HUB</a>
            </div>
            <h3>Welcome Back</h3>
            <p>New to Ednuv? <a>Sign up</a></p>

            <form class = "form-container">
                <div class = "form-group">
                    <input type = "email" placeholder="Your email address" class = "form-control">

                </div>
                <div class = "form-group">
                    <input type = "password" placeholder="Your password" class = "form-control">

                </div>
                <button type = "submit">Login</button>

            </form>

        </div>

    </div>

</div>