<div class="top-header">
    <img src="./../../assets/Home Page/navbar-telephone icon.png" class="imageDim icon1Pos">
    <p class="top-header-text parg1">+2 247 288 236</p>
    <p class="top-header-text parg2">Contact Support</p>

    <img src="./../../assets/Home Page/navbar-location icon.png" class="imageDim icon2Pos">
    <p class="top-header-text parg3">Cairo,EGY</p>
    <p class="top-header-text parg4">Our Location</p>

    <img src="./../../assets/Home Page/navbar-email icon.png" class="imageDim icon3Pos">
    <p class="top-header-text parg5">E-HUB@FCIS.com</p>
    <p class="top-header-text parg6">Contact E-mail</p>

    <img src="./../../assets/Home Page/Login icon.png" class="icon4pos">
    <a class="anchors a1">Login</a>
    <img src="./../../assets/Home Page/Register Icon.png" class="icon5pos">
    <a class="anchors a2">Register</a>

</div>

<div class="second-header">
    <img src="./../../assets/Home Page/Website Brand.png"
        style="width: 55px; height: 45px; position:absolute; left: 129px; top: 86px;">
    <a class="anchor-brand">E-HUB</a>
    <nav>
        <ul class="nav-links">
            <li><a class="nav-anchors">Home</a></li>
            <li><a class="nav-anchors">My account <i class="fa fa-user-circle-o" style="font-size:21px"></i></a></li>
            <li>
                <a class="nav-anchors">Courses</a>

<!--                 <ul>
                    <li> <a class="nav-anchors">Courses List</a></li>

                </ul> -->
            </li>
            <li><a class="nav-anchors">Contact</a></li>
        </ul>
    </nav>
    <form>

        <button type="submit"></button>
        <input type="search" placeholder="Search here...">

    </form>
    <a class="cart">
        <i class="fa fa-shopping-cart" style="font-size:36px; position:absolute; left: 1361px; top: 80px;"></i></a>

</div>