.mission-area{
    position: relative;
    z-index: 1;
    background-image: url("../../assets/Home Page/mission-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 500px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}

.mission-content{ 
    font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
    font-weight: bolder;
}

.about-content{
    margin-left: 90px;
    margin-bottom: 300px;
    font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
    font-weight: bolder;
}

.instructors{
    margin-top: 100px;
    float: right;
}