<master-navbar></master-navbar>

<section class="mission-area">
    <p-card [style]="{'width': '610px', 'height' : '250px', 'position': 'absolute', 'left': '64px', 'top': '150px'}">
        <div class = "mission-content">
        <label style = "color:#ff1949; margin-bottom: 10px; font-size: 15px; ">DISCOER LEARNING</label>
        <h2 style = "margin-bottom: 15px; line-height: 1.3; font-size: 37px; font-weight: 700; color:black;">Why our Platform is better</h2>
        <label style = "color:black; margin-bottom: 10px; font-size: 18px; font-weight: normal;">Quality can be better than quantity in this platform</label>
        <p style = "font-size: 15px; line-height: 1.8; color:#727695; font-weight:normal;">Here you can find everything you need and master your skills, level and expertise to be qualified for hard-working environment.</p>
        </div>
    </p-card>
</section>

<div class="row align-items-center">
    <div class="col-lg-6 col-md-12">
        <div class="about-image">
            <img src="../../assets/Home Page/About Us Page.png">

        </div>

    </div>

    <div class="col-lg-6 col-md-12">
        <div class="about-content">
            <label style = "color:#ff1949; margin-bottom: 10px; font-size: 15px;">ABOUT US</label>
            <h2 style = "margin-bottom: 15px; line-height: 1.3; font-size: 37px; font-weight: 700;">Learn New Skills to go ahead for Your Career</h2> 
            <h6 style = "font-size: 16px; margin-bottom: 14px; line-height: 1.6;">We can support student forum 24/7 for national and international students.</h6>
            <p style = "font-size: 15px; line-height: 1.8; color:#727695; margin-bottom: 15px; font-weight:normal;">Here you can find everything you need and master your skills, level and expertise to be qualified for hard-working environment.</p>
            <h5>
                <i class = "fa fa-globe"></i> A place where you can achieve
            </h5>
            <p style = "font-size: 15px; line-height: 1.8; color:#727695; margin-bottom: 15px; font-weight:normal;">Education encompasses both the teaching and learning of knowledge, proper conduct, and technical competency..</p>
            <button class = "btn primary-btn btn-lg" style = "background-color: #ff1949; color: white; font-weight: normal;">
                <i class = "fa fa-book"></i> View Courses
            </button>

        </div>
    </div>


    <app-master-footer></app-master-footer>
