<div class = "courses-title">
    <h2>Certified Graphic Design with Free Project Course</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
</div>

<div class = "course-enroll">
    <h2>FREE</h2>

    <button pButton type="button" label="Enroll Course" icon="pi pi-check" iconPos="left"></button>

</div>

<div class = "course-image">
    <img src = "../../assets/Course-content/course_wallpaper.jpg">

</div>

<div class = "vertical-props">
    <ul>
        <li><i class = "fa fa-group" style="color: #ff1949;"></i> Students: 10</li>
        <li><i class = "fa fa-book" style="color: #ff1949;"></i> Subject : Design</li>
        <li><i class = "fa fa-clock-o" style="color: #ff1949;"></i> Length: 1 Weeks</li>
        <li><i class = "fa fa-tachometer" style="color: #ff1949;"></i> 2-5 hours per week</li>
        <li><i class = "fa fa-pencil" style="color: #ff1949;"></i> Quizzes : Yes</li>
        <li><i class = "fa fa-globe" style="color: #ff1949;"></i> Language : English</li>
        <li><i class = "fa fa-globe" style="color: #ff1949;"></i> Video Subtitle : English</li>
        <li><i class = "fa fa-check" style="color: #ff1949;"></i> Level : Introductory</li>
        <li><i class = "fa fa-graduation-cap" style="color: #ff1949;"></i> Certifcate : Yes</li>
    </ul>

</div>

<div class = "course-syllabus">
    <h2 style = "text-align: center; margin-top: 20px;">Course Syllabus</h2>
    <h3 style = "color:#ff1949; font-size: 30px;">Chapter 1</h3>
    <h3 style = "color:black; font-size: 25px;">Lessons</h3>
    <h3 style = "color:black; font-size: 20px;">Introduction</h3>
    <ul>
        <li><a>Secret 1: Sell the problem, Not the solution (14:37)</a></li>
        <li><a>Secret 2: Think Like a Magazine, Not a Salesman (4:30)</a></li>
        <li><a>Quiz</a></li>
        <li><a>Secret 3: Content Is King, but Consistency Is Queen (3:56)</a></li>
        <li><a>Secret 4: Punch Above Your Weight Class (11:00)</a></li>
        <li><a>Secret 5: Ethically Steal Your Competitors' Customers (8:12)</a></li>
        <li><a>Quiz</a></li>
        <li><a>Secret 6: Bulid an Audience By Borrowing (10:25)</a></li>
        <li><a>Secret 7: Be a Shadow, Not a Ghost (5:19)</a></li>
        <li><a>Bonus: Tips to Be a 5 Stars Freelancer (16:07)</a></li>
        <li><a>Quiz</a></li>
    </ul>
    <h3 style = "color:#ff1949; font-size: 30px;">Chapter 2</h3>
    <h3 style = "color:black; font-size: 25px;">Final Quiz</h3>
    <a>Final Quiz</a>
</div>